*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: #999999;
    text-decoration: none;
}

.header-two {
    padding: 10px 0;
    position: absolute !important;
    z-index: 9;
    width: 100%;
    left: 0;
    box-shadow: none !important;
}

.navbar-nav .nav-item a, 
.navbar-nav .dropdown-item a, .navbar-expand-lg .navbar-nav .nav-link {
    color: #fff !important;
    font-size: 17px;
    text-transform: capitalize;
}

.navbar-nav .dropdown-menu .dropdown-item a {
    color: #000 !important;
}

.affix.sticky-menu {
    position: fixed !important;
    background-color: #000 !important;
}

.mt-30{
    margin-top: 30px;
}

.menu-two{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*-------------------------------
        # Common css
--------------------------------*/

    .top-text .section-title{
        font-size: 48px;
        line-height: 48px;
        font-weight: 800;
        margin: 15px 0;
    }

     .top-text .section-title span{
        color: #77bd1e;
        font-size: inherit;
    }

    .top-text .section-description{
        margin: 23px 0 25px;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
    }
    .divider{
        margin-bottom: 50px;
    }

    .divider .outer-line {
        width: 25%;
        display: inline-block;
        vertical-align: middle;
        border-bottom: 1px solid #888;
    }

    .divider .fa {
        font-size: 20px;
        margin: 0 20px;
        color: #77bd1e;
    }


/*=================================
        Hero Area Section
====================================*/

.hero-section {
    background-image: url(../img/home/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.hero-section:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.6;
}

.hero-section .header-heading{
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 70%);
}

.hero-section .hero-title {
    color: #fff;
    margin: 0px 0px 45px 0px;
    font-size: 75px;
    font-weight: 700;
    line-height: 110px;
    font-family: 'Playfair Display', serif;
}

.hero-section .header-heading p {
    font-size: 20px;
    line-height: 30px;
    color: #383c64;
    margin-bottom: 35px;
}

.hero-section .hero-title span{
    font-size: inherit;
    color: #77bd1e;
}

.btn-wraper{
    text-align: left;
}

.btn-wraper .creative_button {
    padding: 16px 46px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    display: inline-block;
    background: #fff;
    line-height: 25px;
    border: 2px solid #fff;
    border-radius:0;
    transition: all 0.3s;
}

.btn-wraper .creative_button span{
    color: #000;
}

.btn-wraper .creative_button i{
    position: relative;
    top: 3px;
    margin-left: 5px;
    font-size: 20px;
}

.btn-wraper .creative_button:hover{
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.creative_button:hover span{
    color: #fff;
}

@media (min-width: 1200px){
    .container, 
    .container-lg, 
    .container-md, 
    .container-sm, 
    .container-xl {
        max-width: 1200px;
    }
}

/*====================
  feature section css
 =====================*/

.feature-sec {
  position: relative;
  padding-bottom: 10px;
}

.feature-sec  .feature-item{
    padding: 40px 20px 40px 30px;
    border-right: 1px solid #ebebeb;
    box-shadow: 0px 0px 18.9px 2.1px rgb(0 0 0 / 10%);
    transition: all 0.3s;
}

.feature-sec .feature-item-wraper {
    display: inline-block;
    width: 100%;
}

.feature-sec .feature-item-icon i {
    font-size: 48px;
    color: #77bd1e;
    float: left;
    margin-right: 20px;
    transition: all 0.4s ease;
}

.feature-item-heading {
    text-align: left;
    display: table-cell;
}

.feature-item .feature-item-heading h4 {
    line-height: 25px;
    color: #14212b;
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    text-align: left;
    transition: all 0.4s ease;
}

.feature-item .feature-item-description p {
    margin-bottom: 0;
    margin-top: 15px;
    line-height: 2;
    text-align: left;
    color: #616161;
    font-size: 15px;
}

.feature-item:hover{
    background-color: #77bd1e;
}

.feature-item:hover i,
.feature-item:hover h4{
    color: #fff;
}

.feature-item:hover p{
    color: #f1f1f1;
}

.mt-5 {
    margin-top: 5px !important;
}


/*=========================
    service css start
==========================*/

.service-section{
    background-color: #fff;
}

.service-section .service-box{
    position: relative;
    border-bottom: 1px solid #eaeaea;
    background: #ffffff;
    box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 10%);
    padding-bottom: 30px;
}

.service-section .service-box:before {
    content: '';
    height: 45px;
    width: 45px;
    border-radius: 100%;
    border: 1px solid #eaeaea;
    background: #ffffff;
    position: absolute;
    bottom: -22px;
    left: 44%;
    z-index: 1;
}

.service-section .service-box .service-image img {
    width: 100%;
    padding: 5px;
}

.service-section .service-box .service-sec-hover {
    position: relative;
    display: inline-block;
    margin: 0;
    text-align: center;
}

.service-section .service-box .service-icon{
    border: 3px solid #ffffff;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: #77bd1e;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.service-icon a 
{
	color:#fff;
}

.service-section .service-box i {
    font-size: 26px;
    line-height: 65px;
}

.service-section .service-box .service-heading {
    margin-top: 55px;
}

.service-section .service-box .service-heading h4 {
    color: #14212b;
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: center;
}

.service-section .service-description p{
    color: #616161;
    text-align: center;
    padding: 0 15px;
}

.service-box:after {
    content: '';
    height: 12px;
    width: 12px;
    border-radius: 100%;
    background: #eaeaea;
    position: absolute;
    bottom: -5px;
    left: 48.5%;
    z-index: 1;
}

.service-sec-hover{
    margin-bottom: 50px;
}

.service-box:hover:before {
    border: 3px solid #77bd1e;
}

.service-sec-hover:after {
    display: block;
    content: '';
    border-bottom: solid 3px #77bd1e;
    transform: scaleX(0);
    transition: transform 400ms ease-in-out;
}

.service-sec-hover:hover:after {
    transform: scaleX(1.0);
}

.service-box:hover:after {
    background: #77bd1e;
}



/*--------------------------------------------------------------
    # Portfolio
--------------------------------------------------------------*/

.portfolio-sec{
    position: relative;
    padding-bottom: 0;
}

.portfolio-sec .portfolio-wrap {
  height: auto;
  transition: 0.3s;
  position: relative;
  border-radius: 0px;
  overflow: hidden;
  z-index: 1;
  margin-bottom: -6px;
}

.portfolio-sec .portfolio-wrap::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 168 255);
  opacity: 0;
  z-index: 2;
  transition: all ease-in-out 0.5s;
}

.portfolio-sec .portfolio-wrap img {
  max-width: 100%;
  height: auto;
  transition: all ease-in-out 0.5s;
}

.portfolio-sec .portfolio-wrap .portfolio-info {
  position: absolute; 
  opacity: 0;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 3;
  transition: all ease-in-out 0.3s;
}

.portfolio-sec .portfolio-wrap .portfolio-info h4{
    margin-bottom: 0;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.portfolio-sec .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio-sec .portfolio-wrap:hover::before {
  opacity: 0.8;
  background: #000;
}

.portfolio-sec .portfolio-wrap:hover img {
  transform: scale(1.2);
}

.portfolio-sec .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio-sec .mb-30{
    margin-bottom: 60px;
}

.portfolio-sec .portfolio-wrap .portfolio-links a {
    color: #fff;
    margin: 10px 0 0 0;
    font-size: 25px;
    display: inline-block;
    transition: 0.3s;
    vertical-align: middle;
    height: 50px;
    margin-top: 15px;
    width: 50px;
    line-height: 50px;
    border: 1px solid #fff;
    border-radius: 0px;
    background: transparent;
}

.portfolio-sec .portfolio-wrap .portfolio-links a:hover{
    color: #77bd1e;
}

.card{
    padding: 0;
    margin: 0;
    border: none;
    background: #fff;
}

.card img{
    width: 100%;
    transition: 0.3s;
}

@media screen and (max-width: 991px){
    .card-columns{
        column-count: 2;
    }
}

@media screen and (max-width: 520px){
    .card-columns{
        column-count: 1;
    }
}

@media (min-width: 576px){
.card-columns {
    column-gap: 0;
   }
}


/*=========================
    call to action css
==========================*/

.cta-sec-one{
    padding: 120px 0;
    position: relative;
    background-image: url(../img/cta/cta-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cta-sec-one:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #77bd1e;
    opacity: 0.9;
}

.mb-20 {
    margin-bottom: 20px !important;
}
.mt-15 {
    margin-top: 15px !important;
}
.font-18 {
    font-size: 18px !important;
}
.text-white {
    color: #fff !important;
}

.cta-sec-one .banner-text h2{
    font-size: 42px;
    letter-spacing: 1px;
}

.cta-sec-one .banner-text h5{
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.font-weight-600{
    font-weight: 600;
}


.cta-sec-one .btn-wraper{
    margin-top: 30px;
}

.cta-sec-2{
    padding: 120px 0;
    color: #fff;
    position: relative;
    background: #77bd1e;
}

.cta-sec-2 .section-title{
    color: #fff;
    font-family: "Playfair Display", Sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 95px;
    letter-spacing: -1px;
}
.cta-sec-2 .heading-description{    
    max-width: 800px;
    margin: 0 auto;
}

.cta-sec-2 .heading-description p{
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400; 
}

.btn-wraper{
    text-align: center;
}

/*--------------------------------------------------------------
          # Team
--------------------------------------------------------------*/
.team-sec{
    position: relative;
    background: #fff;
}

.our-team{
    border: 1px solid #d3d3d3;
    position: relative;
    overflow: hidden;
}
.our-team:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    transition: all 0.3s ease 0s;
}
.our-team:hover:before{
    background: rgba(0,0,0,0.7);
}
.our-team img{
    width: 100%;
    height: auto;
}
.our-team .team-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    padding: 25px 18px;
    transition: all 0.3s ease 0s;
}
.our-team:hover .team-content{
    left:0;
}
.our-team .team-title{
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}
.our-team .post{
    font-size: 14px;
    color: #77bd1e;
}
.our-team .post:after{
    content: "";
    display: block;
    width: 20%;
    border-bottom: 1px solid #fff;
    margin: 15px 0 20px;
}
.our-team .description{
    font-size: 14px;
    color: #fff;
    line-height: 25px;
}
.our-team .read{
    width: 0;
    height: 0;
    border-width: 30px;
    border-style: solid;
    border-color: transparent #77bd1e #77bd1e transparent;
    position: absolute;
    bottom: 0;
    right: -100%;
    color: #fff;
    transition: all 0.3s ease 0s;
}
.our-team:hover .read{
    right: 0;
}
.our-team .read i{
    position: relative;
    top: 2px;
    left: 6px;
}

@media (max-width: 991px){
 img{
    width: 100%;
  }
}

/*--------------------------------
    # News & Blog
---------------------------------*/

.blog-sec {
  position: relative;
  background: #fff;
}

.blog-sec .latest-post .img-thumb {
    position: relative;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    border-radius: 4px;
}

.blog-sec .latest-post .img-thumb img {
    transition: all 0.5s ease;
}


.blog-sec .latest-post .post-date {
    width: 40px;
    height: 50px;
    position: absolute;
    top: 4px;
    right: 20px;
    text-align: center;
    padding-top: 3px;
    border-radius: 4px;
    background-color: #77bd1e;
}

.blog-sec .latest-post .post-date span {
    display: block;
    color: #fff;
}

.blog-sec .latest-post .post-date span:first-child {
    font-weight: 600;
    font-size: 16px;
    padding-top: 1px;
}

.blog-sec .latest-post .post-date span:nth-child(2) {
    font-size: 12px;
}

.blog-sec .latest-post .post-title {
    font-size: 18px;
    position: relative;
    margin-top: 25px;
    margin-bottom: 15px;
}

.blog-sec .latest-post .post-text p {
    font-size: 14px;
    line-height: 1.8;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 0px;
    color: #666;
}

.custom-button {
    border: none;
    color: #fff;
    text-decoration: none;
    background: #77bd1e;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease 0s;
    margin-top: 10px;
    text-transform: uppercase;
    padding: 12px 37px 12px 33px;
    border-radius: 0;
    font-size: 14px;
    font-weight: 400;
}

.custom-button span{
    color: #fff;
}

.custom-button:before {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    position: absolute;
    height: 100%;
    right: 25px;
    top: 40%;
    margin-top: -10px;
    transition: all 0.3s ease 0s;
    opacity: 1;
}

.custom-button:hover{
    background: #000;
}

.latest-post a.img-thumb:hover img {
    transform: scale(1.1) !important;
    opacity: 1 !important;
}

/*==============================================
        Start Testimonials
===============================================*/

.testimonial-sec{
  position: relative;
  background: #f5f5f5;
}

.testimonial{
    margin: 0 15px;
}
.pic{
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
}
.pic img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.testimonial-title {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #242424;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.testimonial-review{
    background: #77bd1e;
    border-radius: 10px;
    padding: 25px;
    position: relative;
}
 
.testimonial-review:before{
    content: "";
    border-bottom: 20px solid #77bd1e;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    top: -15px;
    left: 46%;
}
.testimonial-review p{
    color: #fff;
    margin: 0;
    font-size: 16px;
    line-height: 25px;
}
.owl-theme .owl-controls{
    margin-top: 30px;
}
.owl-theme .owl-controls .owl-page span{
    width: 10px;
    height: 10px;
    background: #fff;
    border: 2px solid #77bd1e;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #77bd1e;
}
@media screen and (max-width: 990px){
    .testimonial{
        margin: 0 10px;
    }
}

/*==============================================
                Start Footer
===============================================*/

.footer{
  background-image: url(../img/footer/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-bottom: 0px;
}

.footer:before{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}

.footer .footer-about h3,
.footer .footer-links h3{
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 38px;
  text-transform: capitalize;
}

.footer .footer-about p{
  margin: 0 0 20px;
  color: #C0C1C2;
  line-height: 30px;
}

.footer .footer-about li{
  display: inline-block;
  text-align: center;
}

.footer .footer-about li i{
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    position: relative;
    display: block;
    margin-right: 5px;
    background-color: #24262F;
    border-radius: 50%;
    transition: all 0.5s;
}

.footer .footer-about li i:hover{
    background: #77bd1e;
}

.footer .footer-links li a{
    color: #C0C1C2;
    padding-left: 0;
    margin-bottom: 16px;
    font-size: 16px;
    display: block;
    transition: all 0.5s;
}

.footer .footer-links li a:hover{
   color: #77bd1e;
}

.footer .footer-links .link-list li a{
  padding-left: 8px;
}

.footer .contact-info{
  display: flex;
  position: relative;
  margin-bottom: 13px;
}

.footer .contact-info .icon{
  position: relative;
  margin-right: 15px;
}

.footer .contact-info .icon i{
  position: absolute;
  top: 8px;
  font-size: 28px;
  color: #77bd1e;
}

.footer .contact-info .contact-detail{
  padding-left: 40px;
}

.footer .contact-info .contact-detail p{
  font-size: 16px;
  font-weight: 400;
  color: #C0C1C2;
  margin-bottom: 5px;
}

.footer .contact-info .contact-detail h4{
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
}

.footer-bottom{
  position: relative;
  width: 100%;
}

.footer-bottom .bottom-copyright{
  text-align: center !important;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 25px 0;
}

.footer-bottom .bottom-copyright p{
  margin-bottom: 0;
  padding: 0 10px;
  color: #C0C1C2;
}

/* ==================
    End of footer
=================*/

@media screen and (max-width: 991px){
    .navbar {
        width: 100%;
        padding: 0;
        position: absolute;
        top: 62px;
        right: 10px;
    }
    .navbar-nav .dropdown-menu .dropdown-item a {
        color: #fff !important;
    }
}
    
@media screen and (max-width: 1024px){
    .hero-section .header-heading {
        transform: translate(-50%, 55%);
    }
    .feature-item .feature-area .title {
        padding: 8px 10px 10px;
    }
    .feature-item:hover .feature-area .title {
        padding-top: 10px;
    }
    .feature-item .feature-area .title h3 {
        font-size: 14px;
        margin: 0 0 10px;
    }
    .feature-item:hover .feature-area .title p {
        font-size: 13px;
        padding-bottom: 0px;
    }
    .icon-box.left a {
        margin-right: 15px;
    }
    .service-content .service-content-heading{
        font-size: 19px;
    }
}

@media screen and (max-width: 768px){
    .feature-sec .feature-item {
        margin-bottom: 30px;
    }
    .hero-section .header-heading {
        transform: translate(-50%, 33%);
    }
    .top-text .section-title {
        font-size: 35px;
    }
    .cta-sec-one .banner-text h2 {
        font-size: 32px;
    }
    .our-team {
        margin-bottom: 30px;
    }
    .footer {
        padding: 60px 0 0 0;
    }
    .blog-sec .post-body .entry-title a {
        font-size: 16px;
    }
    .blog-sec .latest-post{
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 525px){
    .cta-sec-2, .cta-sec-one {
        padding: 60px 0;
    }
    .cta-sec-2 .section-title {
        font-size: 40px;
        line-height: 60px;
    }
    .cta-sec-one .banner-text h2 {
        font-size: 35px;
    }
    
    .btn-wraper .creative_button {
        padding: 12px 30px;
    }
    .icon-box.left a {
        margin-right: 15px;
    }
    .icon-box i {
        font-size: 28px;
    }
    .hero-section {
        height: 50vh;
    }
    .hero-section .hero-title {
        margin: 0px 0px 25px 0px;
        font-size: 35px;
        line-height: 50px;
    }
    .hero-section .header-heading {
        transform: translate(-50%, 35%);
    }
    .service-box:after {
        bottom: -6px;
        left: 47.4%;
    }
}

.main-navigation .nav-menu>.menu-item>a {
    color: #fff;
    font-weight: 700;
}
.site-title, .site-description
{
	color:#fff !important;
}
.header-two {
    background: transparent;
}